Q4

In [2]:
import pandas as pd

In [6]:
df = pd.read_csv('./AB_2020.csv')
df.shape

(294490, 4)

In [8]:
df.groupby(['landing_page', 'converted']).agg(len)

                        user_id  timestamp
landing_page converted
A            0           129505     129505
             1            17740      17740
B            0           129745     129745
             1            17500      17500

In [14]:
df[(df['converted'] == 1) & (df['landing_page'] == 'A')].shape[0] / df[df['landing_page'] == 'A'].shape[0]

0.1204794729871982

In [15]:
df[(df['converted'] == 1) & (df['landing_page'] == 'B')].shape[0] / df[df['landing_page'] == 'B'].shape[0]

0.1188495364868077

In [16]:
df[(df['converted'] == 1)].shape[0] / df.shape[0]

0.11966450473700295

In [19]:
df.groupby(['landing_page']).agg(len)

              user_id  timestamp  converted
landing_page
A              147245     147245     147245
B              147245     147245     147245

Q5

In [27]:
df = pd.read_csv('traffic.csv')
df.head()

,holiday,temp,rain_1h,snow_1h,clouds_all,weather_main,weather_description,date_time,traffic_volume
0,None,288.28,0.0,0.0,40,Clouds,scattered clouds,2012-10-02 09:00:00,5545
1,None,289.36,0.0,0.0,75,Clouds,broken clouds,2012-10-02 10:00:00,4516
2,None,289.58,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 11:00:00,4767
3,None,290.13,0.0,0.0,90,Clouds,overcast clouds,2012-10-02 12:00:00,5026
4,None,291.14,0.0,0.0,75,Clouds,broken clouds,2012-10-02 13:00:00,4918

In [24]:
df.weather_main.value_counts()

Clouds          15164
Clear           13391
Mist             5950
Rain             5672
Snow             2876
Drizzle          1821
Haze             1360
Thunderstorm     1034
Fog               912
Smoke              20
Squall              4
Name: weather_main, dtype: int64

In [26]:
rain = df[df['weather_main'] == 'Rain']
clear = df[df['weather_main'] == 'Clear']

In [31]:
m = rain.shape[0]
n = clear.shape[0]
vary = rain['traffic_volume'].var()
varx = clear['traffic_volume'].var()

In [45]:
sp2 = ((n-1) * varx + (m-1) * vary) / (n + m - 2)
sp2

3942817.5987102888

In [42]:
xbar = clear['traffic_volume'].mean()
ybar = rain['traffic_volume'].mean()

In [43]:
import math
t = (xbar - ybar) / math.sqrt(sp2) * math.sqrt(1/n + 1/m)

In [44]:
t

-0.0020903232682599198

In [46]:
r = math.floor(((varx / n + vary / m) ** 2) / (1 / (n - 1) * (varx / n) ** 2 + 1 / (m - 1) * (vary / m) ** 2 ))

In [47]:
r

10704

In [49]:
t = (xbar - ybar) / (math.sqrt(varx / n + vary / m))
t

-8.336873582326676

In [50]:
t = varx / vary
t

1.0049224336665912

In [51]:
n, m

(13391, 5672)